<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<body>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-0ord{text-align:right}
.tg .tg-s6z2{text-align:center}
.tg .tg-zapm{background-color:#f9f9f9;text-align:right}
.tg .tg-4eph{background-color:#f9f9f9}
</style>
Dear ${details.supplier_name},<p/>


Below are the details for Requesting CAPA <br/><br/>
<table class="tg">
  <tr style="font-weight:bold;">
    <td class="tg-4eph">Receipt Date :</td>
    <td >${details.receipt_date}</td>
  </tr> 
   <tr style="font-weight:bold;">
    <td class="tg-4eph">Problem Details :</td>
    <td >${details.problemdetails}</td>
  </tr>
   <tr style="font-weight:bold;">
    <td class="tg-4eph">Corrective action :</td>
    <td >${details.correctiveaction}</td>
  </tr>
   <tr style="font-weight:bold;">
    <td class="tg-4eph">Due Date for Corrective Action :</td>
    <td >${details.dueaction_date}</td>
  </tr>
   <tr style="font-weight:bold;">
    <td class="tg-4eph">Deduction for Issue:</td>
    <td >${details.deduction}</td>
  </tr>
</table>
 <br/>

Thanks,<br/>
QMS support.