<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<body>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-0ord{text-align:right}
.tg .tg-s6z2{text-align:center}
.tg .tg-zapm{background-color:#f9f9f9;text-align:right}
.tg .tg-4eph{background-color:#f9f9f9}
</style>
Dear QMS Team,<p/>


<u>Below is the weekly report</u><br/><br/>
<table class="tg">
  <tr>
    <th class="tg-s6z2" colspan="6">Maintaince and Calibration Report</th>
  </tr>
  <tr style="font-weight:bold;">
    <td style="padding:3px;color:>Equipment ID</td>
    <td class="tg-4eph">Type of Maintenance</td>
    <td class="tg-4eph">Frequency of Maintenance</td>
    <td class="tg-4eph">Due Date</td>
    <td class="tg-4eph">Calibration</td>
  </tr>
#foreach ($details in $main)

  <tr>
    <td class="tg-031e">${details.equipment_id}</td>
    <td class="tg-031e">${details.type_of_maintenance}</td>
    <td class="tg-0ord">${details.frequency_maintenance_list}</td>
    <td class="tg-0ord">${details.due_date}</td>
    <td class="tg-0ord">${details.calibration}</td>
  </tr>
   
#end
</table>
 <br/>

Thanks,<br/>
${fromName}